*{
    margin: 0;
    padding: 0;
}
.nav{
    position: fixed;
    display: flex;
    justify-content: space-between;
    background-color: grey;
    width: 100%;
    transition: .3s ease-out all;
}
.sections{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100vh;
}
.redes{
    margin-left: 100px;
}
.acerca-de-mi{
    display:flex;
    justify-items: center;
    height: 100vh;
    background-color: white;
}

.mi-foto{
    display: flex;
    align-items: center;
    margin: 100px;
}
.img-mi-foto{
    height: 410px;
    width: 382px;
    border: solid;
    border-width: 10px;
}
.info-de-mi{
    display: flex;
    align-items: center;
    margin: 150px;
    
}
.bienvenidos{
    margin-top: 50vh;
    margin-bottom: 50vh;
}
body{
    background-color:white;
    overflow: hidden;
    
}

head{
    overflow: hidden;
}

h1{
    margin-top: 30px;
    
    display: flex;
    justify-content: center;

    
}
.form{
    margin-top: 30px;
}
.images-container{
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; 
    align-items: center;
    background-color: black;
    border: solid;
    border-color: grey;
    border-width: 7px;
    
}
.p1{
    font-family: 'Bebas Neue', cursive;
}   
a{
    margin-top: 10px;
    margin-bottom: 10px;
    text-decoration: none;
    color: black;
    background-color: transparent;
    transition:all .5s ease-in-out;
    

}
a:hover{
    color: rgb(241, 149, 11);
    transform: scale(2);
    transition: width 2s, height 2s, background-color 2s, transform 2s;
}

.error{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    color: red;
}
.label{
    display:flex;
}
span{
    display: flex;
    justify-content: center;
}
img{
    width: 220px;
    height: 220px;
    display: table-cell;
    -webkit-transition: all;
    transition: .25s;
}
.redes{
    width: 100vh;
    display: flex;
    height: 50px;
    align-items: center;
    margin-left: 174px;
}
.social-media{
    width: 100px;
}
.contacto{
    height: 100vh;
    width: 100vh;
    display: flex;
    align-items: center;
}
.conteiner-map-tel{
    display: flex;
}
.localizacion{
    margin-top: auto;

    width: 409px;
    height: 100px;
}
.map{
    margin-left: 150px;
    margin-right: 20px;
    border: solid;
    border-color: red;
}
.turnos{
    margin-left: 40px;
}
.tatto{
    border:solid;
    border-color:brown;
}

.animation {
    overflow:hidden;

}
.animation:hover .tatto {
    -webkit-transform:scale(1.3);
    transform:scale(1.2);
}

u{
    font-family: 'Bebas Neue', cursive;
    font-size: large;
}
.h1-turno{
    font-family: 'Bebas Neue', cursive;
    width: 234px;
}
.form{
    margin-left: 7px;
}
.footer{
    display: flex;
    background-color: grey;
    height: 50px;
    justify-content: center;
    align-items: center;
}
.tatto1{
    background-image: url(Images\3ab75d68-ece3-4bde-a925-11c34f988b76.jpg)
}







